.pgheader{
    border-bottom: 1px solid #f8fbffc0;
    border-radius: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    flex-grow: 1;
    margin-bottom: 2%;
}


.logo{
    margin-right:2vw ;
}
.pgheader h1{
    font-size: 3em;
    font-weight: 900;
    font-style:oblique;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* color: #333; */
    margin-left: 5vw;
}  

@media only screen and (max-width: 760px) {
    .pgheader h1{
        font-size: 1.8em;
    }
    .logo{
        margin-right:5vw ;
    }
    .pgheader{
        margin-bottom: 5%;
    }
}