.about-details{
    margin:50px 0 0 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow: hidden;
    /* animation: typingfeffect 5s cubic-bezier(0.25,-0.1, 0.28, 1.24)  alternate; */
    animation: typingfeffecty 1.5s cubic-bezier(0.25,-0.1, 0.28, 1.24)  alternate;
}
.about-content{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    overflow: hidden;
}
.list{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: start;
    width: 80%;
    overflow: hidden;
}
.h1{
    font-size: 3rem;
    font-weight: 900;
    background-color: var(--dlgreen);
    /* margin: auto; */
    width:fit-content;
    padding:0 20px 0 20px;
    border-radius: 10px;
}
.li{
    width: 100%;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.label{
    font-style: italic;
    font-weight: 900;
    font-size: 1.6em;
    width: 30%;
    display: flex;
    justify-content: start;
}

.val{
    width: 50%;
    font-size: 2rem;
    font-weight: 500;
    /* color: #333; */
    display: flex;
    justify-content: start;
}

.description{
    font-size: 1.5em;
    font-weight: 500;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    animation: typingfeffectx 1.5s cubic-bezier(0.25,-0.1, 0.28, 1.24)  alternate;
    margin:auto;
    border-bottom: 2px dashed #b3d9ff;
}
.description>p{
    margin:0 0 60px 0;
}
@keyframes typingfeffectx {
    from {
      transform: translateX(-100%);
    }
}
@keyframes typingfeffecty {
    from {
      transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
}

@media only screen and (max-width: 760px) {
    .about-details{
        margin: 50px 0 0 12px;
    }
    .list{
        width: 100%;
        font-size: 1.5rem;
    }
    .h1{
        font-size: 2rem;
        
    }
    .li{
        flex-direction: column;
        align-items: start;
        
    }
    .label{
        width: 80%;
        font-size: 2rem;
    }
    .val{
        width: 100%;
    }
    .description{
        width: 89%;
        font-size: 1.5rem;
    }
    .description>p{
        margin:0 0 30px 0;
    }
}